.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgrey;

.container {
    height: 600px;
    width: 925px;
    box-shadow: 2px 2px 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
}

svg {
    border: 1px solid red;
}

.bar:hover {
    fill: brown;
  }



}