.barChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;

  .container {
    height: 700px;
    width: 1100px;
    box-shadow: 2px 2px 20px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #title {
    text-align: center;
    font-size: 170%;
    margin-top: 20px;
  }

  #x-axis,
  #y-axis {
    font-size: 100%;
  }

  .bar:hover {
    fill: #00adb5;
    stroke: #00adb5;
  }
}
