*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
overflow: hidden
}

#drum-machine {
    outline: none;
    min-height: 100vh;
}

#display, .drum-pad {
    text-align: center;
    padding: 25px;
    margin: 10px;
}

.drum-pad {
    cursor: pointer;
    border: 1px solid black;
}