.choroplethContainer {
  #title {
    text-align: center;
    font-size: 170%;
    margin-top: 20px;
  }

  #description {
    text-align: center;
    font-size: 150%;
    margin-top: 10px;
  }

  #tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; 
    border: 3px solid #00adb5;
    font-size: large;
  }
}
