@import url('https://fonts.googleapis.com/css?family=Russo+One');

span.span-header {
    display: flex;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
}

span > h4 {
    margin: auto auto auto 5px;
    font-family: Russo One;
    font-weight: normal;
}

.fcc-icon {
    margin: auto auto auto 5px;
    font-size: 125%;
  }

pre {
    background-color: black;
    display: inline-block;
    margin: 0px auto;
}

code {
    color: white;
    background-color: black;
}

p {
    margin-bottom: 0px;
}